.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px / 5px;
   
}

@media (max-width: 1100px){
    .grid-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 800px){
    .grid-container {
        grid-template-columns: repeat(1, 1fr);
    }
}

.grid-item {
 
    background-color: white;
    border: 40px solid white;
    border-radius: 5%;
    padding: 20px;
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
    text-align: center;
    align-items: center;
    font-family: 'Monserrat', sans-serif;
    
}


.grid-item img {
    
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 10px;
    opacity: 0.8;
    transition: opacity 0.5s ease-in-out;
}

.grid-item h2 {
  font-size: x-large;
  font: bold;
  margin: 5px;
}

.grid-item p {
  font-size: small;
}

.grid-item:hover {
    background-color: #9ed88b;
    border: 2px solid #9ed88b;
    /* border: 2px solid #485870; */
    color: white;
  }

  .grid-item:hover img {
    opacity: 1.2;
    margin-top: 10px;
    margin-bottom: 30px;
  }

  .grid-item:hover h2 {
    opacity: 1;
  }


